form,
.filters,
.messages,
.loading,
ul {
  margin-bottom: 15px;
}
label {
  display: block;
  margin: 5px 0;
}
input,
textarea,
select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
button {
  margin: 3px;
  padding: 5px 10px;
}
.messages {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}
.message-success {
  background-color: #dcfce7;
  color: #166534;
}
.message-error {
  color: red;
}
.loading {
  display: none;
  font-weight: bold;
}

/* ორი სხვადასხვა კონტეინერი Pending და Done task-ებისთვის */
#pendingList {
  background: #fff8d9;
  padding: 10px;
  border: 2px solid #f7d774;
  border-radius: 6px;
  min-height: 50px;
  list-style-type: none;
}

#doneList {
  background: #eaffea;
  padding: 10px;
  border: 2px solid #72d572;
  border-radius: 6px;
  min-height: 50px;
  list-style-type: none;
}

.task-item {
  margin-bottom: 6px;
  padding: 6px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.task-item div {
  margin-bottom: 2px;
}
